<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRlXUabjTLrYWQpiW71If6D4rh-oMKVQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1070230866099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialFeedApp</string>
	<key>PROJECT_ID</key>
	<string>elssa-fe16f</string>
	<key>STORAGE_BUCKET</key>
	<string>elssa-fe16f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070230866099:ios:3f65cc3cdd938241de08c6</string>
</dict>
</plist>